.recomandation {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .movie-container {
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  
  .movie-row {
    display: flex;
    
    gap: 5%;
    transition: transform 0.5s ease-in-out;
  }
  
  .nav-button {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  /* .NavLink {
    display: block;
    width: 100%;
  } */
  
  /* Animation classes */
  .slide-in-left {
    animation: slideInLeft 0.5s forwards;
  }
  
  .slide-in-right {
    animation: slideInRight 0.5s forwards;
  }
  
  .slide-out-left {
    animation: slideOutLeft 0.5s forwards;
  }
  
  .slide-out-right {
    animation: slideOutRight 0.5s forwards;
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOutLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  @keyframes slideOutRight {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }

  .recomBtns{
    display: flex;
    gap: 74%;
    width: 100%;
  }

  .left-btn{
    transform: rotate(180deg);
  }
  