@font-face {
    font-family: 'Exo 2';
    src: url('../../fonts/Exo2/static/Exo2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.search-input-container{
    position: relative;
    width: 100%;
    max-width:738px;
    margin-right: 40px;
}

.clear-button{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear-button svg {
    width: 16px;
    height: 16px;
  }

  .SearchInut{
    border: 2px solid #AFB2B6;
    /* color: #AFB2B6; */
    border-radius: 10px;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 54px;
  }
  
