/* styles/ModalWindow.css */
@font-face {
    font-family: 'Exo 2';
    src: url('../../fonts/Exo2/static/Exo2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 10px;
    background-color: #323537;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    font-weight: 600;   
}

.modal button {
    margin-top: 20px;
}

.overlay {
    background-color: transparent; /* Убирает фон оверлея */
}

.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.75);
}